$main-color: rgb(41, 128, 185);
$main-color: rgb(22, 124, 192);
$icon-hover: rgba(255, 255, 255, 0.781);

.header {
  position: relative;
  background-color: $main-color;
  display: grid;
  grid-template-columns: 1fr 80px 40px 40px 24px;
  text-align: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 77px;
  font-size: 18px;
  font-family: "Didot", serif;
  font-family: "Lato", sans-serif;
  letter-spacing: 3.3px;
  .title {
    font-size: 28px;
    padding-left: 70px;
  }
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $icon-hover;
    }
  }
  a.active {
    background-color: transparent;
    color: white;
  }
  .user_name {
    background-color: $main-color;
    align-self: center;
    color: white;
    font-family: "Open-Sans", sans-serif;
    &:hover {
      color: $icon-hover;
    }
  }
}

@media (max-width: 768px) {
  .header {
    height: 76px;
    .title {
      padding-top: 4px;
      font-size: 21px;
      padding-left: 80px;
    }
    .user_name {
      padding-top: 4px;
    }
  }
}
